*/bin/
*/build/
*/dist/
*/lib/
*.class
*.zip
*.swp
*deploy.sh
*/jbluxkey
jbluxkey
*.tar.gz
jblux-client/res
jblux_django/settings.py
jblux_django/**/*.pyc
jblux_django/*.pyc
jblux_django/static/media/lib
jblux_django/static/media/img
jblux_django/static/media/favicon.ico
jblux-server/autom4te.cache/
jblux-server/config.log
jblux-server/config.status
jblux-server/src/config.h
jblux-server/src/config.h.in~
jblux-server/src/stamp-h1

