*/build/
*/dist/
*/lib/
*/store/
*.class
*.zip
*.swp
*/jbluxkey
jbluxkey
*/lib/jblux-common.jar
jblux-server/lib
*jblux-sql.jar
*.tar.gz
jblux-client/res
jblux_django/settings.py
jblux_django/**/*.pyc
jblux_django/*.pyc
jblux_django/static/media/lib
jblux_django/static/media/img
jblux_django/static/media/favicon.ico

