<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <link href="/tmuo_media/css/tmu.css" rel="stylesheet" type="text/css" />
        <!--[if IE]><link href="tmuo_media/css/tmu_ie.css" rel="stylesheet" type="text/css"><![endif]-->
        <title>{% block title %}{% endblock %} | TMUO</title>
    </head>

    <body>
        <div id="wrap">
        <div id="header">
            <a href="{% url jblux_django.jblux.views.index %}"><img src="/tmuo_media/img/tmupage.png" alt="TMUO"/></a>
        </div>
        <div id="urlbar">
            <div class="align-left1"><a href="{% url jblux_django.jblux.views.index %}"><img src="/tmuo_media/img/home.png" alt="Home"/></a></div>
            <div class="align-left"><a href="{% url jblux_django.jblux.views.game %}"><img src="/tmuo_media/img/play.png" alt="Play"/></a></div>
            <div class="align-left"><a href="http://forums.shyguystoybox.net/index.php?act=idx"><img src="/tmuo_media/img/forums.png" alt="Forums"/></a></div>
            <div class="align-left"><a href="{% url jblux_django.jblux.views.info %}"><img src="/tmuo_media/img/info.png" alt="Info"/></a></div>
            <div class="align-left"><a href="{% url jblux_django.jblux.views.screens %}"><img src="/tmuo_media/img/screens.png" alt="Screens"/></a></div>
            <div class="align-left"><a href="{% url jblux_django.jblux.views.help %}"><img src="/tmuo_media/img/help.png" alt="Help"/></a></div>

            {% if not my_user %}
            <div class="align-right1"><a href="{% url jblux_django.jblux.views.login %}">Login</a></div>
            {% else %}
            <div class="align-right1"><a href="{% url jblux_django.jblux.views.logout %}">Logout</a></div>
            {% endif %}
        </div>
        
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        
        <div id="sidebar">
            <a href="{% url jblux_django.jblux.polls.polls %}"><img src="/tmuo_media/img/poll.png" alt="Polls"/></a>
        </div>
        &nbsp;
        
        <div id="disclaimer">
            <p>All Mario and Mario related characters are copyright to Nintendo. For contact info, see the "Help" page.</p>
        </div>
    </div>
    </body>
</html>

