{% extends "jblux/base.html" %}

{% block title %}Info{% endblock %}

{% block content %}
<p>The Mushroom Universe: Online is an online Mario fangame started in 2009 by Royce. He quickly gained different team members, most notably, Kingoftherings, who is writing the engine for the game. Originally, the game used the Eclipse engine, but due to many problems, it was switched to a custom java engine.</p>
<p>The game uses Mario and Luigi 3 graphics, to give it a Mario feel. Many different classes of characters are avaible. Currently, there are goombas, toads, and koopas. More will be added with time though. Different subspecies will be programmed in to give people an even bigger choice of gameplay. For example:<br />
<b>Koopa - Magikoopa<br/>
Goomba - Spiked Goomba</b>
</p>
<p>As the game grows, many new things will be added. If you feel you have a suggestion, check out our forums!</p>
{% endblock %}

