{% extends "jblux/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if error %}
<p><font color="red">Your username and password didn't match.  Please try again.</font></p>
{% endif %}
<form method="post" action="">
    {% csrf_token %}
    {% include "jblux/base_form.html" %}
    <p><input type="submit" value="login" /></p>
</form>
<br />
<p><a href="{% url jblux_django.jblux.views.register %}">Register a new Account</a></p>
<p>Forgot your password? <a href="{% url jblux_django.jblux.views.reset_pass %}">Click here</a></p>

{% endblock %}

