{% extends "jblux/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match.  Please try again.</p>
{% endif %}
<center>
<form method="post" action="">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input type="submit" value="login" />
</form>
<br />
<a href="{% url jblux_django.jblux.views.register %}">Register a new Account</a>
</center>
{% endblock %}

